/* Основной контейнер сайдбара */
.sidebar-menu {
  width: 260px;
  background-color: #1a1a1a; /* Темный фон как на скрине */
  height: 100vh;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  color: white;
}

/* Кнопка назад */
.back-btn {
  background: #333333;
  border: none;
  color: #fff;
  padding: 12px 16px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
  transition: background 0.2s;
}

.back-btn:hover {
  background: #444;
}

.sidebar-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  padding-left: 8px;
}


.category-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.sidebar-link {
  background: none;
  border: none;
  color: #b3b3b3;
  padding: 12px 16px;
  text-align: left;
  font-size: 17px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s;
}

.sidebar-link:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.05);
}


.sidebar-link.active {
  background-color: #333333;
  color: #fff;
  font-weight: 500;
}


.sidebar-content {
  overflow-y: auto;
}
.sidebar-content::-webkit-scrollbar {
  width: 0;
}

.sidebar-search {
  display: flex;
  align-items: center;
  background: #2d2d2d; 
  padding: 10px 14px;
  border-radius: 12px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  transition: border 0.3s;
}

.sidebar-search:focus-within {
  border: 1px solid #555; 
}

.search-icon {
  color: #888;
  margin-right: 10px;
  font-size: 14px;
}

.sidebar-search input {
  background: none;
  border: none;
  color: white;
  outline: none;
  width: 100%;
  font-size: 15px;
}

.sidebar-search input::placeholder {
  color: #666;
}