
.hero-container {
  position: relative;
  width: 100%;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 30px;
  background-color: #f5f5f5;
}

.hero-bg {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/backraynd.png'); 
  background-size: cover;
  background-position: center;
  /* opacity: 0.5; */
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}


.hero-content {
  position: absolute;
  bottom: 60px; 
  left: 40px;
  display: flex;
  align-items: flex-end;
  gap: 20px;
  color: white;
  z-index: 2;
}


.logo-box {

 
  padding: 15px;
 
}

.logo-box img {
  /* width: 365px; */
  height: 280px;
  object-fit: contain;
}

/* .hero-text{
  text-align: center;
} */

.hero-text h1 {
  font-size: 36px;
  margin: 5px 0 15px 0;
  font-weight: 800;
}

.hero-text p {
  font-size: 14px;
  margin: 0;
  opacity: 0.9;
}


.info-tags {
  display: flex;
  gap: 10px;
}

.info-tags span {
  background: rgba(3, 8, 31, 0.8);
  color: white;
  padding: 8px 15px;
  border-radius: 50px;
  font-size: 12px;
  display: flex;
  align-items: center;
}


.rating-box {
  position: absolute;
  right: 40px;
  bottom: 100px;
  background: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

.rating-box .score {
  font-size: 48px;
  font-weight: 900;
  color: #03081F;
  display: block;
  line-height: 1;
}

.rating-box .stars {
  color: #FFC107; 
  margin: 5px 0;
  font-size: 18px;
}

.rating-box p {
  font-size: 10px;
  color: #838590;
  margin: 0;
}


.status-badge {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #FC8019; 
  color: white;
  padding: 12px 35px;
  border-top-right-radius: 20px;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 3;
}