.product-detail-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.product-main-info {
  display: flex;
  gap: 50px;
  margin-top: 30px;
  background: white;
  padding: 30px;
  border-radius: 20px;
}

.product-image-large {
  flex: 1;
  background: #f9f9f9;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image-large img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.product-text-info {
  flex: 1;
 
}

.product-price-large {
  font-size: 28px;
  font-weight: 800;
  color: #FC8019;
  margin: 20px 0;
}

.ingredients-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.ingredients-list li {
  margin-bottom: 10px;
  color: #666;
}

.add-to-cart-large {
  background: #000;
  color: #fff;
  border: none;
  padding: 15px 40px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.add-to-cart-large:hover {
  background: #FC8019;
}

.similar-products-section {
  margin-top: 80px;
}
.toppings-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 15px;
}

.topping-item {
   margin-top: 30px;
  display: flex;
  align-items: center;
  padding: 12px 15px;
  background: #eee;
  border: 1px solid #eee;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.topping-item:hover {
  border-color: #FC8019;
}

.topping-name {
  flex: 1;
  margin-left: 15px;
  font-weight: 500;
}

.topping-price {
  color: #666;
  font-size: 14px;
}

.order-action-bar {
  position: sticky; /* Липкая панель внизу */
  bottom: 0;
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -5px 20px rgba(0,0,0,0.05);
  margin: 0 -20px;
}

.total-price-display {
  font-size: 18px;
  font-weight: 600;
}

.total-price-display span {
  font-size: 24px;
  color: #FC8019;
  margin-left: 10px;
}
.back-btn{
    background: none;
    border: none;
    color: #FC8019;
    font-size: 16px;

}
.customization-section{
    color: #FC8019;
}
@media (max-width: 768px) {
  .product-main-info {
    flex-direction: column;
  }
}