.footer {
  background-color: #f8f9fa;
  padding-top: 50px;
  font-family: 'Arial', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 40px 20px;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-logo {
  font-size: 32px;
  margin-bottom: 20px;
}

.footer-logo span {
  color: #fc8019; /* Твой оранжевый цвет */
  font-size: 35px;
}

.app-buttons img {
  height: 40px;
  margin-right: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.company-info {
  font-size: 14px;
  color: #666;
}

.footer-subscribe h3, .footer-links h3 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

.subscribe-form {
  display: flex;
  margin-bottom: 10px;
}

.subscribe-form input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 30px 0 0 30px;
  outline: none;
  width: 200px;
}

.subscribe-form button {
  padding: 12px 20px;
  background-color: #070707;
  color: white;
  border: none;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  font-size: 24px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #444;
  font-size: 14px;
}

.footer-links ul li a:hover {
  color: #fc8019;
}

/* Нижняя черная полоса */
.footer-bottom {
  background-color: #03081F;
  color: white;
  padding: 20px 0;
}

.footer-bottom-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 14px;
}

.payment-methods {
  display: flex;
  gap: 15px;
  font-weight: bold;
  color: #aaa;
}

.mbank-tag {
  color: #00ff00; 
}

.footer-bottom-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}



.social-links {
    display: flex;
    gap: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.social-icon {
    font-size: 24px; 
    color: #03081F; 
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}


.social-icon.inst:hover {
    color: #E1306C; 
    transform: translateY(-3px);
}

.social-icon.tg:hover {
    color: #0088cc; 
    transform: translateY(-3px);
}

.social-icon.yt:hover {
    color: #ff0000; 
    transform: translateY(-3px);
}
@media (max-width: 480px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-column {
    margin-bottom: 30px;
  }

  .social-links {
    justify-content: center; 
  }
}

@media screen and (max-width: 768px) {
  .footer-bottom-content {
    flex-direction: column;
    gap: 15px;             
    text-align: center;     
    padding: 25px 15px;     
  }

  .footer-bottom-content span, 
  .footer-bottom-content div {
    width: 100%;           
  }
}


@media screen and (max-width: 480px) {
  .footer-bottom-content {
    font-size: 12px;       /
  }
}